<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBMSCuoiKy.Properties.Settings.Nhom4_1ConnectionString"
            connectionString="Data Source=DESKTOP-AICIBT7;Initial Catalog=Nhom4_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBMSCuoiKy.Properties.Settings._4_1ConnectionString"
            connectionString="Data Source=DESKTOP-AICIBT7;Initial Catalog=4_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>